button.mfp-close {
  color: #080606 !important;
  margin-top: 102px !important;
  margin-right: 268px !important;
}


.page-wrapper.dialog-off-canvas-main-canvas {
  margin-left: 90px !important;
}

.btn-views {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 7px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.btn-views:hover {
  background-color: #04aa6d; /* Keep the same color on hover */
}

.btn-views a {
  text-decoration: none;
  color: white;
}

a.btn-views {
  margin-right: 21px;
}
.my_detail {
  margin-bottom: -8px;
  margin-top: 1px;
}

td.fc-event-container {
  background-color: transparent;
  border: none;
  font-family: ui-sans-serif;
}
.fc-content {
  white-space: unset !important;
}
.replicate {
  text-align: center;
  margin-top: -56px;
}
.body_text {
  text-align: center !important;
}

h5.body_text1 {
  text-align: center;
  margin-top: -27px;
}
